
@{
    ViewBag.Title = "Index";
}

<h2>Carga Academica Informatica Administrativa</h2>
<p>En esta pagina los estudiantes de la carrera de Informatica Administrativa, pueden crear secciones,
    y clases de acuero a los horarios mas convenientes.</p>

